venv/
.env
.env.*
__pycache__/
*.py[cod]
*.pyo
*.log
*.out
.cache/
*.egg-info/
.eggs/
dist/
build/
.vscode/
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.DS_Store
Thumbs.db
*.pid
*.pid
.ipynb_checkpoints/
